@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 400;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 300;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 325;
  font-weight: 325;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 350;
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 500;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 600;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NotoSansThai';
  src: url('NotoSansThai.ttf');
  font-variation-settings: 'wght' 600;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
